p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;
}
h1, h2 {
    color:rgb(19, 58, 155);
    margin-bottom: 10px;
}
.orangeColor {
    color: orange;
}
h2 {
    font-size: 18px;
}
.section {
    display: flex;
    /* justify-content: center; если в один ряд по горизонтали*/
    flex-direction: column;
    align-items: center;    
}
.card {   
   /*height: 200px;*/
   /* dashed - пунктир, solid - сплошной */
   /*border: 5px dashed rgb(255, 217, 0);*/
   padding: 15px;
   background-color: rgba(244, 228, 205, 0.7); 
   margin-bottom: 10px;
   width: 800px;
}
.button {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(72, 212, 212);
    margin-bottom: 20px;
    cursor: pointer;
}
h1:hover {
    color: red;
}